html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
p {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #424242;
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}
.section-title {
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
}
.button-gold {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background: #d8b152;
  padding: 17px 10px 16px;
  border: 1px solid #d8b152;
  &:hover {
    border: 1px solid #000;
    color: #000;
  }
  &:active {
    border: 1px solid #fff;
    color: #fff;
  }
}
