@include media-breakpoint-down(xxl) {
  .reviews {
    &__slider-prev {
      left: 20%;
    }
    &__slider-next {
      right: 20%;
    }
  }
  .tudor {
    &__comparison {
      height: 800px;
    }
    &__comparison-slider {
      height: 800px;
    }
    &__roadmap-item-first {
      top: 75px;
    }
    &__roadmap-item-second {
      top: 75px;
    }
    &__roadmap-item-third {
      top: 75px;
    }
    &__roadmap-item-fourth {
      bottom: 5px;
    }
    &__roadmap-item-fifth {
      bottom: 5px;
    }
    &__master-bedroom-img {
      width: 300px;
    }
    &__master-bedroom-small-img {
      width: 330px;
    }
  }
}
@include media-breakpoint-down(xl) {
  .hero {
    &__title {
      font-size: 52px;
      line-height: 60px;
    }
  }
  .cards {
    &__item-content {
      width: 300px;
      height: 300px;
    }
  }
  .reviews {
    &__slider-prev {
      left: 7%;
    }
    &__slider-next {
      right: 0%;
    }
  }
  .tudor {
    &__comparison {
      height: 700px;
    }
    &__comparison-slider {
      height: 700px;
    }
    &__roadmap-item {
      width: 290px;
    }
    &__roadmap-item-first {
      top: 90px;
    }
    &__roadmap-item-second {
      top: 90px;
    }
    &__roadmap-item-third {
      top: 90px;
    }
    &__roadmap-item-fourth {
      bottom: 10px;
    }
    &__roadmap-item-fifth {
      bottom: 37px;
    }
    &__advantages-card {
      width: 265px;
    }
    &__general-information {
      padding: 0;
      margin-bottom: 30px;
    }
    &__holl-title {
      margin-bottom: 30px;
    }
    &__holl-wrapper {
      margin: 0 0 30px;
    }
    &__holl-img {
      width: 350px;
      height: 250px;
    }
    &__holl-wrapper-text {
      padding: 0;
      margin-bottom: 30px;
    }
    &__living-room-img-big {
      height: 600px;
    }
    &__roadmap-mini-inner {
      padding-bottom: 225px;
    }
    &__roadmap-mini-item {
      width: 265px;
    }
    &__roadmap-mini-img-2 {
      margin-top: 0;
    }
    &__roadmap-mini-information {
      padding: 0;
      margin-bottom: 20px;
    }
    &__dining-room-img-small {
      width: 300px;
    }
    &__master-bedroom-large-img {
      height: 600px;
    }
    &__master-bedroom-img {
      width: 290px;
    }
    &__master-bedroom-small-img {
      width: 290px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    &__bathroom-information {
      padding: 0;
      margin-bottom: 20px;
    }
    &__bathroom-img {
      &:not(:last-child) {
        margin-right: 0px;
      }
    }
  }
  .service-list {
    &__item-text {
      &::before {
        width: 85%;
      }
    }
  }
  .application {
    &__form-input {
      width: 300px;
      margin-right: 20px;
    }
    &__btn {
      width: 300px;
    }
  }
  .country-houses {
    &__card-content {
      width: 300px;
      height: 300px;
    }
  }
}
@include media-breakpoint-down(lg) {
  .section-title {
    font-size: 40px;
    line-height: 50px;
  }
  .menu-list {
    &__item {
      &:not(:last-child) {
        padding-right: 30px;
      }
    }
  }
  .hero {
    &__title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 27px;
    }
    &__title {
      padding: 0;
    }
    &__text {
      text-align: left;
    }
    &__registration {
      padding: 0;
    }
  }
  .cards {
    &__item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &__item-content {
      width: 360px;
      height: 360px;
    }
  }
  .give-feedback {
    &__text {
      margin-bottom: 40px;
    }
    &__form-inputs {
      padding: 0;
    }
    &__form-input {
      margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 10px;
      }
    }
    &__form-review {
      padding: 0;
    }
    &__form-textarea {
      margin-bottom: 20px;
    }
  }
  .awards {
    &__card-image {
      margin-bottom: 20px;
    }
    &__card-information {
      margin-left: 0;
    }
    &__card-description {
      margin-bottom: 20px;
    }
  }
  .publications {
    padding: 45px 0 80px;
    &__title {
      margin-bottom: 0px;
    }
    &__card {
      padding: 30px 0 40px;
      &:nth-child(odd) {
        border-right: none;
      }
      &:nth-child(even) {
        padding-left: 0;
      }
    }
  }
  .tudor {
    padding: 60px 0 0;
    &__title {
      margin-bottom: 40px;
    }
    &__comparison {
      height: 500px;
    }
    &__comparison-slider {
      height: 500px;
    }
    &__roadmap {
      display: flex;
      position: relative;
      padding-bottom: 0;
      margin-bottom: 40px;
    }
    &__roadmap-list {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        height: 81%;
        width: 1px;
        background-color: #aea38b;
        margin-top: 20px;
      }
    }
    &__roadmap-item {
      position: relative;
      width: 100%;
      text-align: left;
      padding: 0 0 30px 13px;
      &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: url("../images/roadmap-mark.svg") no-repeat;
        background-position: center;
        background-size: cover;
        left: -6px;
        top: 18px;
      }
    }
    &__roadmap-mini-blockquote {
      margin: 0 auto 40px;
    }
    &__roadmap-item-first {
      top: 0;
      left: 0;
    }
    &__roadmap-item-second {
      top: 0;
      left: 0;
      transform: translateX(0%);
    }
    &__roadmap-item-third {
      top: 0;
      right: 0;
    }
    &__roadmap-item-fourth {
      bottom: 0;
      left: 0;
      transform: translateX(0%);
    }
    &__roadmap-item-fifth {
      bottom: 0;
      right: 0;
    }
    &__advantages-card {
      width: 400px;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    &__general {
      margin: 0 0 80px;
    }
    &__holl-img {
      width: 300px;
    }
    &__living-room-img-big {
      width: 100%;
      height: 500px;
    }
    &__living-room-title {
      margin-bottom: 20px;
    }
    &__living-room-wrapper {
      margin: 0 0 40px;
    }
    &__living-room-list {
      padding: 0;
      margin-bottom: 20px;
    }
    &__roadmap-mini-list {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        height: 68%;
        width: 1px;
        background-color: #aea38b;
        margin-top: 85px;
      }
    }
    &__roadmap-mini-inner {
      padding-bottom: 35px;
    }
    &__roadmap-mini-item {
      position: relative;
      width: 100%;
      text-align: left;
      padding: 0 0 30px 20px;
      &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: url("../images/roadmap-mark.svg") no-repeat;
        background-position: center;
        background-size: cover;
        left: -6px;
        top: 18px;
      }
    }
    &__roadmap-mini-item-first {
      left: 0;
    }
    &__roadmap-mini-item-second {
      left: 0%;
      transform: translateX(0%);
    }
    &__roadmap-mini-item-third {
      right: 0;
    }
    &__kitchen-information {
      padding: 0;
      margin-bottom: 20px;
    }
    &__kitchen-title {
      margin-bottom: 20px;
    }
    &__kitchen-img-big {
      width: 100%;
    }
    &__kitchen-blockquote {
      margin: 0 auto 40px;
    }
    &__kitchen-inner {
      margin: 0 0 80px;
    }
    &__kitchen-img-small {
      width: 100%;
    }
    &__kitchen-description {
      padding: 0;
      margin-bottom: 20px;
    }
    &__dining-room-wrapper {
      margin: 0 0 80px;
    }
    &__dining-room-title {
      margin-bottom: 30px;
    }
    &__dining-room-text {
      margin-bottom: 20px;
    }
    &__dining-room-img-small {
      &:not(:last-child) {
        margin-right: 0px;
      }
    }
    &__holl-additional-wrapper {
      margin: 0 0 80px;
    }
    &__holl-additional-information {
      padding: 0;
      margin-bottom: 20px;
    }
    &__holl-additional-title {
      margin-bottom: 30px;
    }
    &__master-bedroom-wrapper {
      margin: 0 0 80px;
    }
    &__master-bedroom-information {
      padding: 0;
      margin-bottom: 20px;
    }
    &__master-bedroom-title {
      margin-bottom: 30px;
    }
    &__master-bedroom-text {
      margin-bottom: 0px;
    }
    &__bathroom-wrapper {
      margin: 0 0 80px;
    }
    &__bathroom-information {
      padding: 0;
      margin-bottom: 20px;
    }
    &__bathroom-title {
      margin-bottom: 30px;
    }
    &__guest-bedroom {
      margin-bottom: 80px;
    }
    &__guest-bedroom-title {
      margin-bottom: 30px;
    }
    &__guest-bedroom-text {
      margin-bottom: 20px;
    }
    &__bathroom-additional-wrapper {
      margin: 0 0 100px 0;
    }
    &__bathroom-additional-information {
      padding: 0;
      margin-bottom: 20px;
    }
    &__bathroom-additional-title {
      margin-bottom: 30px;
    }
    &__story {
      margin-bottom: 80px;
    }
    &__story-blockquote {
      margin: 0 auto 40px;
    }
    &__story-wrapper {
      margin: 0 0 20px;
    }
    &__story-catalog {
      padding: 0;
    }
  }
  .blockquote {
    width: 100%;
    height: auto;
    padding: 90px 30px 100px;
  }
  .slider {
    display: block;
  }
  .service-list {
    &__wrapper {
      margin-bottom: 100px;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__item-text {
      &::before {
        width: 85%;
      }
    }
  }
  .application {
    padding: 80px 0 100px;
    &__text {
      margin-bottom: 40px;
    }
    &__form-input {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__btn-wrapper {
      width: 100%;
    }
    &__btn {
      width: 100%;
    }
  }
  .country-houses {
    padding: 50px 0 60px;
    &__title {
      margin-bottom: 40px;
    }
    &__card {
      margin: 0 0 30px;
    }
    &__card-content {
      width: 330px;
      height: 330px;
    }
    &__card-title {
      font-size: 20px;
      line-height: 28px;
    }
  }
  .about {
    padding: 60px 0 0;
    &__tab {
      width: 140px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    &__history-title {
      margin-bottom: 40px;
    }
    &__history-wrapper {
      margin-bottom: 30px;
    }
    &__history-image-big {
      text-align: center;
      margin-bottom: 20px;
    }
    &__history-img-big {
      width: 300px;
      height: 360px;
    }
    &__history-content {
      padding: 0;
      margin-bottom: 30px;
    }
    &__history-image-small {
      text-align: center;
    }
    &__history-img-small {
      width: 300px;
      height: 300px;
    }
    &__history-statistic {
      margin: 0 0 100px;
    }
    &__history-statistic-item {
      padding: 0;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &__history-statistic-number {
      margin-bottom: 10px;
    }
    &__service-title {
      margin-bottom: 40px;
    }
    &__service-wrapper {
      margin: 0 0 60px;
    }
    &__service-card {
      padding: 0;
      margin: 0 0 40px;
    }
    &__service-card-bpdy {
      text-align: left;
    }
    &__service-card-text {
      margin-bottom: 10px;
    }
    &__service-card-price {
      margin-bottom: 30px;
    }
    &__service-card-btn {
      width: 300px;
    }
    &__service-card-price {
      font-size: 20px;
      line-height: 28px;
    }
  }
  .footer {
    &__top {
      padding: 90px 0 45px;
      border: none;
    }
    &__bottom {
      padding: 45px 0 50px;
      margin: 0;
    }
    &__logo {
      margin-bottom: 50px;
    }
    &__contacts {
      padding-right: 0;
      margin-bottom: 50px;
    }
    &__information {
      padding: 0;
    }
    &__title-dropdown {
      position: relative;
      padding: 10px 0;
      border-top: 1px solid #d8b152;
      border-bottom: 1px solid #d8b152;
      &:after {
        content: "+";
        position: absolute;
        top: 10px;
        right: 0;
        transition: all 0.3s;
      }
      &--active {
        &:after {
          transform: rotate(45deg);
        }
      }
    }
    &__list-dropdown {
      display: none;
    }
    &__policy {
      margin-bottom: 20px;
    }
  }
  .social {
    padding: 0;
    margin: 0 0 50px;
  }
}
@include media-breakpoint-down(md) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  .section-title {
    font-size: 25px;
    line-height: 34px;
  }
  .button-gold {
    font-size: 14px;
    line-height: 19px;
    padding: 15px 10px 14px;
  }
  .hero {
    margin: 0 auto 35px;
    &__information-wrapper {
      margin: 55px 0 0;
    }
    &__title {
      font-size: 25px;
      line-height: 35px;
    }
    &__text {
      font-size: 16px;
      line-height: 25px;
    }
    &__btn {
      width: 100%;
    }
    slick-dots {
      bottom: 37px;
    }
    .slick-dots li {
      margin: 0 5px;
    }
    .slick-dots li button::before {
      width: 12px;
      height: 12px;
      top: 4px;
      left: 4px;
    }
  }
  .menu-list {
    display: none;
    &--active {
      display: flex;
      position: absolute;
      min-height: 100%;
      height: 100vh;
      top: 70px;
      left: 0;
      right: 0;
      background-color: #fff;
      padding: 10px 40px 50px 0;
      overflow-y: scroll;
      z-index: 30;
    }
    &__item {
      padding: 30px 0;
      &:not(:last-child) {
        padding-right: 0;
      }
    }
    &__link {
      font-size: 22px;
      line-height: 27px;
      color: #202020;
    }
    &__link-white {
      color: #202020;
      &:hover {
        color: #202020;
        border-bottom: 1px solid #d8b152;
      }
    }
  }
  .cards {
    padding: 45px 0 80px;
    &__title {
      margin-bottom: 40px;
    }
    &__item-title {
      font-size: 20px;
      line-height: 27px;
    }
    &__item-button {
      width: 200px;
      margin-top: 20px;
    }
  }
  .our-instagram {
    padding: 0 0 100px;
    &__title {
      margin-bottom: 40px;
    }
    &__wrapper {
      margin: 0 -20px 30px;
    }
    &__link {
      margin-bottom: 20px;
    }
  }
  .reviews {
    padding: 50px 0 40px;
    &__title {
      margin-bottom: 40px;
    }
    &__slide-wrapper {
      width: 65%;
    }
    &__slide-profile {
      margin-bottom: 15px;
    }
  }
  .give-feedback {
    padding: 40px 0 100px;
    &__text {
      font-size: 14px;
      line-height: 19px;
    }
    &__form-input {
      padding: 16px 20px 15px;
      &::placeholder {
        font-size: 14px;
        line-height: 19px;
      }
    }
    &__form-textarea {
      width: 100%;
      height: 200px;
      padding: 16px 20px;
      font-size: 14px;
      line-height: 19px;
      &::placeholder {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
  .awards {
    padding: 40px 0 100px;
    &__title {
      margin-bottom: 0px;
    }
    &__card {
      padding: 40px 0;
    }
    &__card-heading {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 10px;
    }
    &__card-description {
      font-size: 14px;
      line-height: 21px;
    }
  }
  .publications {
    &__card-heading {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 10px;
    }
    &__card-text {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 20px;
    }
  }
  .tudor {
    padding: 50px 0 0;
    &__comparison {
      height: 390px;
      margin: 0 0 30px;
    }
    &__comparison-slider {
      height: 390px;
    }
    &__roadmap-item {
      &::before {
        top: 10px;
      }
    }
    &__roadmap-date {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    &__advantages {
      margin-bottom: 40px;
    }
    &__general-img {
      width: 200px;
      height: 300px;
    }
    &__holl-img {
      width: 200px;
      height: 150px;
    }
    &__holl-img {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
    &__living-room-img-big {
      height: 350px;
    }
    &__roadmap-mini-date {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    &__roadmap-mini-img {
      width: 200px;
      height: 300px;
    }
    &__kitchen-img-big {
      height: 300px;
    }
  }
  .slider {
    &__slide-img {
      width: 100%;
    }
  }
  .service-list {
    &__item {
      margin-bottom: 20px;
      &:before {
        font-size: 20px;
        line-height: 24px;
      }
    }
    &__item-text {
      &::before {
        width: 95%;
      }
    }
    &__item-text {
      padding: 0;
      &::before {
        margin: -6px 0 6px 40px;
      }
    }
  }
  .application {
    &__form-input {
      font-size: 14px;
      line-height: 19px;
      padding: 16px 20px 15px;
      &::placeholder {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
  .about {
    &__tab {
      font-size: 14px;
      line-height: 20px;
      padding: 15px 10px;
    }
    &__history-statistic-number {
      font-size: 28px;
      line-height: 38px;
    }
  }
  .footer {
    &__title {
      font-size: 14px;
      line-height: 19px;
    }
    &__list-link {
      font-size: 14px;
      line-height: 19px;
    }
    &__text {
      font-size: 14px;
      line-height: 19px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .cards {
    &__item-content {
      width: 300px;
      height: 300px;
    }
  }
  .our-instagram {
    &__img {
      height: 140px;
    }
    &__btn {
      width: 100%;
    }
  }
  .reviews {
    &__slide-name {
      font-size: 20px;
      line-height: 24px;
    }
    &__slide-text {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .awards {
    &__card-img {
      width: 100%;
    }
    &__card-btn {
      width: 100%;
    }
  }
  .publications {
    &__card-btn {
      width: 100%;
    }
  }
  .tudor {
    &__comparison {
      height: 280px;
    }
    &__comparison-slider {
      height: 280px;
    }
    &__advantages-card {
      width: 100%;
      padding: 13px 30px 15px;
    }
    &__general-img {
      width: 140px;
      height: 180px;
    }
    &__holl-img {
      width: 140px;
      height: 180px;
    }
    &__living-room-img-big {
      height: 240px;
    }
    &__roadmap-mini-img {
      width: 140px;
      height: 180px;
    }
    &__kitchen-img-big {
      height: 200px;
    }
  }
  .service-list {
    &__item-text {
      &::before {
        width: 90%;
      }
    }
  }
  .blockquote-text {
    width: 90%;
    font-size: 18px;
    line-height: 27px;
  }
  .slider {
    &__slide-img {
      width: 300px;
      height: 200px;
    }
  }
  .country-houses {
    &__card-content {
      width: 300px;
      height: 300px;
    }
  }
  .about {
    &__service-wrapper {
      margin: 0 0 20px;
    }
    &__service-card {
      &:not(:last-of-type) {
        border-bottom: 1px solid #aea38b;
      }
    }
    &__service-card-footer {
      padding-bottom: 40px;
    }
    &__service-card-btn {
      width: 100%;
    }
  }
}
@media (max-width: 374px) {
  .cards {
    &__wrapper {
      margin: 0;
    }
    &__item-content {
      width: 100%;
      height: 100%;
    }
  }
  .our-instagram {
    &__link {
      text-align: center;
    }
    &__img {
      width: 140px;
      padding: 0;
    }
  }
  .reviews {
    &__slide-wrapper {
      width: 80%;
    }
  }
  .tudor {
    &__comparison {
      height: 200px;
    }
    &__comparison-slider {
      height: 200px;
    }
    &__holl-img {
      width: 120px;
    }
    &__kitchen-img-small {
      height: 210px;
    }
  }
  .service-list {
    &__item-text {
      &::before {
        width: 85%;
      }
    }
  }
  .slider {
    &__slide-img {
      width: 100%;
    }
  }
  .country-houses {
    &__cards {
      margin: 0;
    }
    &__card {
      padding: 0;
    }
    &__card-content {
      width: 100%;
      height: 100%;
    }
  }
  .about {
    &__tab {
      display: block;
      &:not(:last-child) {
        margin-bottom: 0;
        margin-bottom: 20px;
      }
    }
  }
  .footer {
    &__logo {
      margin-bottom: 30px;
    }
    &__contacts {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
