@include media-breakpoint-down(xxl) {
}
@include media-breakpoint-down(xl) {
  .hero {
    &__title {
      font-size: 52px;
      line-height: 60px;
    }
  }
  .cards {
    &__item {
      width: 300px;
      height: 300px;
    }
  }
}
@include media-breakpoint-down(lg) {
  .section-title {
    font-size: 40px;
    line-height: 50px;
  }
  .menu-list {
    &__item {
      &:not(:last-child) {
        padding-right: 30px;
      }
    }
  }
  .hero {
    &__title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 27px;
    }
    &__title {
      padding: 0;
    }
    &__text {
      text-align: left;
    }
    &__registration {
      padding: 0;
    }
  }
  .cards {
    &__item {
      width: 360px;
      height: 360px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  .footer {
    &__top {
      padding: 90px 0 45px;
      border: none;
    }
    &__bottom {
      padding: 45px 0 50px;
      margin: 0;
    }
    &__logo {
      margin-bottom: 50px;
    }
    &__contacts {
      margin-bottom: 50px;
    }
    &__title-dropdown {
      position: relative;
      padding: 10px 0;
      border-top: 1px solid #d8b152;
      border-bottom: 1px solid #d8b152;
      &:after {
        content: "+";
        position: absolute;
        top: 10px;
        right: 0;
        transition: all 0.3s;
      }
      &--active {
        &:after {
          transform: rotate(45deg);
        }
      }
    }
    &__list-dropdown {
      display: none;
    }
    &__policy {
      margin-bottom: 20px;
    }
  }
  .social {
    margin: 0 0 50px;
  }
}
@include media-breakpoint-down(md) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  .section-title {
    font-size: 25px;
    line-height: 34px;
  }
  .hero {
    margin: 0 auto 35px;
    &__information-wrapper {
      margin: 55px 0 0;
    }
    &__title {
      font-size: 25px;
      line-height: 35px;
    }
    &__text {
      font-size: 16px;
      line-height: 25px;
    }
    &__btn {
      width: 100%;
    }
    slick-dots {
      bottom: 37px;
    }
    .slick-dots li {
      margin: 0 5px;
    }
    .slick-dots li button::before {
      width: 12px;
      height: 12px;
      top: 4px;
      left: 4px;
    }
  }
  .menu-list {
    display: none;
    &--active {
      display: flex;
      position: absolute;
      min-height: 100%;
      height: 100vh;
      top: 70px;
      left: 0;
      right: 0;
      background-color: #fff;
      padding: 10px 40px 50px 0;
      overflow-y: scroll;
      z-index: 30;
    }
    &__item {
      padding: 30px 0;
      &:not(:last-child) {
        padding-right: 0;
      }
    }
    &__link {
      font-size: 22px;
      line-height: 27px;
      color: #202020;
    }
    &__link-white {
      color: #202020;
      &:hover {
        color: #202020;
        border-bottom: 1px solid #d8b152;
      }
    }
  }
  .cards {
    padding: 45px 0 80px;
    &__title {
      margin-bottom: 40px;
    }
    &__item-title {
      font-size: 20px;
      line-height: 27px;
    }
    &__item-button {
      width: 200px;
      margin-top: 20px;
    }
  }
  .our-instagram {
    padding: 0 0 100px;
    &__title {
      margin-bottom: 40px;
    }
    &__wrapper {
      margin: 0 -20px 30px;
    }
    &__link {
      margin-bottom: 20px;
    }
  }
  .footer {
    &__title {
      font-size: 14px;
      line-height: 19px;
    }
    &__list-link {
      font-size: 14px;
      line-height: 19px;
    }
    &__text {
      font-size: 14px;
      line-height: 19px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .cards {
    &__item {
      width: 300px;
      height: 300px;
    }
  }
  .our-instagram {
    &__img {
      height: 140px;
    }
    &__btn {
      width: 100%;
    }
  }
}
@media (max-width: 374px) {
  .footer {
    &__logo {
      margin-bottom: 30px;
    }
    &__contacts {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  .our-instagram {
    &__link {
      text-align: center;
    }
    &__img {
      width: 140px;
      padding: 0;
    }
  }
}
