@import "_vars.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "_libs.scss";
@import "_fonts.scss";
@import "_global.scss";
@import "_blocks/_header.scss";
@import "_blocks/_hero.scss";
@import "_blocks/_cards.scss";
@import "_blocks/_our-instagram.scss";
@import "_blocks/_reviews.scss";
@import "_blocks/_give-feedback.scss";
@import "_blocks/_awards.scss";
@import "_blocks/_publications.scss";

@import "_blocks/_footer.scss";
@import "_media.scss";
