.awards {
  padding: 60px 0 140px;
  &__title {
    margin-bottom: 10px;
  }
  &__wrapper {
    margin: 0;
  }
  &__card {
    padding: 50px 0;
    border-bottom: 1px solid #aea38b;
  }
  &__card-img {
    max-width: 100%;
  }
  &__card-information {
    margin-left: 40px;
  }
  &__card-heading {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 20px;
  }
  &__card-description {
    line-height: 27px;
  }
  &__card-btn {
    width: 260px;
  }
}
