.cards {
  padding: 60px 0 120px;
  &__title {
    margin-bottom: 60px;
  }
  &__wrapper {
    margin: 0;
  }
  &__item {
    position: relative;
    width: 360px;
    height: 360px;
    padding: 0;
    transition-delay: 0.16s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      .cards__item-overlay {
        background: linear-gradient(
          0deg,
          rgba(80, 61, 43, 0.4),
          rgba(80, 61, 43, 0.4)
        );
      }
      .cards__item-button {
        display: flex;
      }
    }
  }
  &__item-countryhouse {
    background: url("../images/content/services-img-1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__item-flat {
    background: url("../images/content/services-img-2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__item-nonresidential {
    background: url("../images/content/services-img-3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__item-awards {
    background: url("../images/content/media-files-img-1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__item-publications {
    background: url("../images/content/media-files-img-2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__item-reviews {
    background: url("../images/content/media-files-img-3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
    background: linear-gradient(
      0deg,
      rgba(80, 61, 43, 0.7),
      rgba(80, 61, 43, 0.7)
    );
  }
  &__item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 45px;
    right: 45px;
    transform: translateY(-50%);
    z-index: 5;
  }
  &__item-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
  }
  &__item-button {
    display: none;
    justify-content: center;
    width: 260px;
    margin-top: 30px;
  }
}
