.country-houses {
  padding: 65px 0 90px;
  &__title {
    margin-bottom: 60px;
  }
  &__cards {
    margin: 0 -20px 0;
  }
  &__card {
    transition-delay: 0.16s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    padding: 0 20px;
    margin: 0 0 50px;
    &:hover {
      .country-houses__card-inner {
        display: flex;
      }
      .country-houses__card-overlay {
        background: linear-gradient(
          0deg,
          rgba(80, 61, 43, 0.7),
          rgba(80, 61, 43, 0.7)
        );
      }
    }
  }
  &__card-content {
    position: relative;
    height: 360px;
    margin: 0 auto;
  }
  &__card-img {
    width: 100%;
    height: 100%;
  }
  &__card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
    background: none;
  }
  &__card-inner {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 45px;
    right: 45px;
    transform: translateY(-50%);
    z-index: 5;
  }
  &__card-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 39px;
    text-align: center;
    color: #ffffff;
  }
}
